@using SunIQ.Helper
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")




</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.MenuLink("Home", "Index", "Home")</li>*@
                    <li>@Html.MenuLink("Home", "Index", "Home")</li>
                    <li>@Html.MenuLink("Inverter", "Index", "Inverters")</li>
                    <li>@Html.MenuLink("Calculation Setup", "Index", "Calculation_Setup")</li>
                    <li>@Html.MenuLink("Percentage Range", "Index", "SETUP_PERCENTAGE_RANGE")</li>
                    <li>@Html.MenuLink("Inverter Files Data", "Index", "Inverter_Files_Data")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>

                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@

                    @if (Request.IsAuthenticated && User.IsInRole("Admin")) {
                        <li>@Html.MenuLink("Roles Admin", "Index", "RolesAdmin")</li>
                        <li>@Html.MenuLink("Users Admin", "Index", "UsersAdmin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GE Energy</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script>
    $(function () {

        var ajaxFormSubmit = function () {
            var $form = $(this);

            var options = {
                url: $form.attr("action"),
                type: $form.attr("method"),
                data: $form.serialize()
            };
           
            $.ajax(options).done(function (data) {
                var $target = $($form.attr("data-sal-target"));
                var $newHtml = $(data);

                $target.replaceWith($newHtml);
              //  $newHtml.effect("highlight");
            });

            return false;
        };

        var submitAutocompleteForm = function (event, ui) {
            var $input = $(this);
            $input.val(ui.item.label);

            var $form = $input.parents("form:first");
            $form.submit();
        };

        var createAutocomplete = function () {
            var $input = $(this);

            var options = {
                source: $input.attr("data-sal-autocomplete"),
                select: submitAutocompleteForm
            };
            
            $input.autocomplete(options);
        };

        var getPage = function () {
            var $a = $(this);
            var options = {
                url: $a.attr("href"),
                data: $("form").serialize(),
                type:"get"
            };

            $.ajax(options).done(function (data) {
                var target = $a.parents("div.pagedList").attr("data-sal-target");
                $(target).replaceWith(data);
            });

            return false;

        };

        $("form[data-sal-ajax='true']").submit(ajaxFormSubmit);

        $("input[data-sal-autocomplete]").each(createAutocomplete);

        $(".main-content").on("click", ".pagedList a", getPage);
    });
</script>